.jstree-fork { margin: 8px 10px 14px; }
.jstree-fork li ul {
	background: url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==);
	:background: url(separate/decoded_base64.gif);
	background-position: 10px 1px;
	background-repeat: repeat-y;
}
.jstree-fork li.jstree-last > ul { background: none !important }
.jstree-fork ins { width: 16px; height: 16px; }
.jstree-fork li { background: transparent url('icons.gif') 0 0 no-repeat; }
.jstree-fork li.jstree-leaf { background: url(separate/leaf.gif) no-repeat 0 0; }
.jstree-fork li.jstree-closed { background: url(separate/closed.gif) no-repeat 0 0; }
.jstree-fork li.jstree-open { background: url(separate/open.gif) no-repeat 0 0; }
.jstree-fork li.jstree-closed.jstree-last { background: url(separate/closed_last.gif) no-repeat 0 0; }
.jstree-fork li.jstree-open.jstree-last { background: url(separate/open_last.gif) no-repeat 0 0; }
.jstree-fork li.jstree-last { background: url(separate/last.gif) no-repeat 0 0; }
.jstree-fork li a:link, .jstree-fork li a:visited, .jstree-fork li span {
	display: inline-block;
	line-height: 16px;
	height: 16px;
	width: 85%;
	padding: 1px 2px;
	color: #000;
	white-space: nowrap;
	text-decoration: none;
	margin: 0;
	border: none !important;
	outline: 0 !important;
}
.jstree-fork li a:focus { outline: none; }
.jstree-fork li span,.jstree-fork li.selected > a {
	background: #1a57ad;
	background: -webkit-gradient(linear, left top, left bottom, from(#5c93d5), to(#1a57ad));
	background: -moz-linear-gradient(top, #5c93d5, #1a57ad);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #FFF;
}
.jstree-fork a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }
.jstree li.treeHidden { opacity: 0.8; }